.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  padding: 90px 0 20px 0;
  color: white;
}

.section-subtitle_theme_dark {
  margin: 0;
  color: white;
}

.table_theme_dark {
  z-index: 1;
  row-gap: 0;
  padding-bottom: 90px;
}

/*incluindo elementos com modificadores de valor-chave */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__text_theme_dark {
  padding-bottom: 0;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  z-index: 0;
  position: absolute;
  right: -124px;
}
